body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin:100px;
}
.main {
    background-color: #FFF;
    width: 70%;
    height:70%;
    margin:0 auto;
    padding:20px;
}

.content{
    height:80%;
}

.title {
    color: #000;
    text-align:center;
    font-size:18px;
    font-weight:bold;

}

.text{
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}

.login_div{
    margin: 0 auto;
    padding:10px;
    height: 20%;
    font-size: 12px;
    font-weight: bold;
    border:1px solid #efefef;
}

.login_form{
    padding-left:50px;
    text-align: center;
    padding: 20px;
}

.login_div p{
    text-align: center;

}

#loading_wrapper {
    width: 50px;
    position: fixed;
    display: none;
    vertical-align: top;
    float: right;
}











.login_button_ajax{

    width:100%;
    margin:0 auto;

}

.footer{
    color:#cccccc;
    text-align: center;
    margin:50px;
}

.error{
    color:#ff0000;
    font-style: italic;
    font-size: 12px;

}



.login_button:enabled{
    color: #1C4257;
}

.login_button:hover{
    cursor: pointer;
}

.login_button:disabled{
    cursor: progress;
    color: #cccccc;

}



/* This imageless css button was generated by CSSButtonGenerator.com */

.locales{
    width: 100%;
    float:right;
    margin:0 auto;
    text-align: right;
    clear: both;
    height: 40px;
}

.locales a{
    margin-right: 15px;
    font-size: 10px;
}


td.col2, td.col3{
    width: 33%;
    text-align: left;
    height: 35px;

}

td.col1{
    width: 33%;
    text-align: right; 
    height: 35px;

}

.login_grid tr, .login_grid td{
    border:none !important;
}

.login_grid tfoot{
    text-align: center  !important;
}


.loading_image{
    vertical-align: middle; 
    margin-left: 10px;
    width: 50px;
    float: left;
}

.button_div{
    width:100px;
}
